body {
    font-family: Arial;
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    text-align: center;
}

.box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background: blue;
    color: white;
    border: none;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background: green;
}
